*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 4em;
    background-color: #134a13;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #000 14px 14px 13px;
}

a{
    color: white;
}

a:hover{
    color: rgb(39, 45, 80);
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg,  #F3EFE0, #434242, #222222);
    background-size: 400% 400%;
    animation: color 15s ease infinite;
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}


#containerTitulo{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo{
    font-size: 3.4rem;
    color: white;
}

#containerDescrição{
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#descrição{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

.texto{
    border: solid white 0.5px;
}